.breadcrumb {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 992px) {
    .about__hero {
        margin-bottom: -50px;
       
    }

    .about__hero::after {
        content: "";
        display: block;
        border-bottom: 1px solid var(--gray);
        width: 90%;
        margin: 0 auto 30px auto;
    }
}